.blogs h1{
    font-size: 2.2rem;
    text-align: center;
    color: var(--headingColor);
    font-weight: 700;
}

.heading{
    color: var(--primaryColor);
}
.mainBlog{
    margin-top: 5rem;
}


.mainBlogsCard{
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
}

.mainBlogsCard img{
    width: 500px;
}

.mainBlogsCard h1{
    font-size: 2.4rem;
    margin-bottom: 2rem;
    font-weight: 700;
    color: var(--headingColor);
}
.mainBlogsCard h6{
    font-size: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
    letter-spacing: .6rem;
    color: var(--headingColor);
}



.customButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 5rem;
}

.customButton .btn-custom{
    background-color: transparent;
    border: 2px solid #6d6d6d !important;
    padding: .5rem 2rem;
    color: #515151;
    border: none;
    margin-right: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    font-weight: 700;
}







/* RESPONSIVENESS */
@media(max-width: 1150px) {
    .mainBlogsCard{
        flex-direction: column-reverse;
    }
    
    
}
@media(max-width: 768px) {
    .mainBlogsCard{
        flex-direction: column-reverse;
    }
    .mainBlogsCard img{
        width: 100%;
    }
}