.blogs h1{
    font-size: 2.2rem;
    text-align: center;
    color: var(--headingColor);
    font-weight: 700;
}

.heading{
    color: var(--primaryColor);
}
.mainBlog{
    margin-top: 5rem;
}


.mainBlogsCard{
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
}

.mainBlogsCard img{
    width: 500px;
}

.mainBlogsCard h1{
    font-size: 2.4rem;
    margin-bottom: 2rem;
    font-weight: 700;
    color: var(--headingColor);
}
.mainBlogsCard h6{
    font-size: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
    letter-spacing: .6rem;
    color: var(--headingColor);
}


/* RESPONSIVENESS */
@media(max-width: 1150px) {
    .mainBlogsCard{
        flex-direction: column-reverse;
    }
    
    
}

@media(max-width: 768px) {
    .mainBlogsCard{
        flex-direction: column-reverse;
    }
    .mainBlogsCard img{
        width: 100%;
    }
}