
.galleryDetailMain{
    margin-block: 3rem;
    font-size: .9rem;
}

.galleryDetailMain h6{
    font-size: 2rem;
}

.galleryDetailMain h1{
    font-size: 2rem;
    font-weight: 700;
    color: var(--headingColor);
}

.numberDetails{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
    padding: 1rem 2rem;
    border: 1px solid var(--headingColor);
    border-radius: 2rem;
}

.numberDetails h5{
    font-size: 1.6rem;
    transform: translateY(.4rem);
    
}

.numberDetails img{
    width: 40px;
}


.hide{
    display: none;
}

.show{
    display: flex;
}