.userImg_1{
    z-index: 1000;
    position: relative;
}
.userImg_2{
    transform: translateX(-1rem);
    position: relative;
    display: inline-block;
    z-index: 1;

}
.userImg_3{
    transform: translateX(-1.9rem);
    display: inline-block;
    z-index: -1;

}

.cardLink{
    color: var(--headingColor);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.cardLink:hover{
    color: var(--primaryColor);
    text-decoration: none;
}


.heroButtonOne{
    background-color: var(--primaryColor);
    padding: .9rem 2rem;
    color: #fff;
    border: 2px solid var(--primaryColor) !important;
    font-weight: 500;
    border: none;
    margin-right: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    font-size: 1rem;
}

.navLogo{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.navLogo:hover{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.navText{
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

.navText:hover{
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}


.navbar{
    background-color: var(--primaryColor) !important;
    color: #fff;
    padding-block: 1rem !important;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.navLinks{
    margin-left: 10rem;
    color: #fff;
}

.navLink{
    color: #fff;
    margin-left: 4rem;
    text-decoration: none;
}

.navLink.active{
    position: relative;
}

.navLink.active::after{
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 2rem;
    background-color: #fff;

    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translate(-100%, -100%);
}



/* hero */

.hero{
    height: 100%;
    padding-bottom: 12rem;
    background-image: linear-gradient(to bottom, #ffffffb7 , #ffffff9e),url('../../../public/homeBg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 13rem;
    font-size: 1rem;
}

.hero h5{
    font-size: 4rem;
    color: #3d3d3d;
    font-weight: 700;

}

.hero p{
    font-size: 1.2rem;
    width: 50%;
    color: #3d3d3d;

}

.hero h5 .heroText{
    color: var(--primaryColor);
}

.hero .heroBtn{
    margin-top: 4rem;
}

.hero .heroButtonOne{
    background-color: var(--primaryColor);
    padding: .9rem 2rem;
    color: #fff;
    border: 2px solid var(--primaryColor) !important;
    font-weight: 500;
    border: none;
    margin-right: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem
}

.hero .heroButtonTwo{
    background-color: transparent;
    border: 2px solid #090228 !important;
    padding: .9rem 2rem;
    color: #090228;
    border: none;
    margin-right: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    font-weight: 500;

}


/* feature */
.feature{
    background-color: #f2fbfc;
    padding-top: 5rem;
    text-align: center;
    padding-bottom: 5rem;
}

.feature .featureBadge{
    display: flex !important;
    align-items: center;
    justify-content: center;
    

}

.feature .featureBadge h6{
    background-color: var(--primaryColor);
    padding: .6rem 2rem;
    border-radius: 2rem;
    color: #fff;
    font-weight: 400;
    letter-spacing: 4px;
}

.feature h1{
    font-size: 2.7rem;
    font-weight: 700;
}


.featureCard{
    margin-top: 4rem;
}


.featureCard .featureCardImg{
    background-color: #fff;
    display: inline-block;
    padding: 2rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.featureCard img{
    width: 60px;
    height: 60px;
    
}

.featureCard .featureCardContent{
    font-size: .8rem;
    color: var(--headingColor);
}

.featureCard .featureCardContent h5{
    font-weight: 700;
    font-size: 1.1rem;
}


/* WHAT WE DO */

.whatWeDo{
    margin-block: 4rem;
}

.whatWeDo .whatWeDoContent{
    padding: 3rem;
    font-size: .9rem;
}

.whatWeDo .whatWeDoContent h1{
    font-weight: 700;
    font-size: 2.6rem;
    color: var(--headingColor);
}

.whatWeDo img{
    height: 200px;
    width: 100%;
}

.whatWeDo .why1 img{
    border-bottom-right-radius: 2rem;
}

.whatWeDo .why2 img{
    border-bottom-left-radius: 2rem;
}

.whatWeDo .why3 img{
    border-top-right-radius: 2rem;
}

.whatWeDo .why4 img{
    border-top-left-radius: 2rem;
}


/* TESTIMONIALS */

.testimonials{
    background-color: #f2fbfc;
    padding-top: 5rem;
    height: 100vh;
}

.testimonialsBadge{
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonialsBadge h6{
    background-color: var(--primaryColor);
    padding: 0.6rem 2rem;
    border-radius: 2rem;
    color: #fff;
    font-weight: 400;
    letter-spacing: 4px;
}

.testimonials h1{
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--headingColor);
}

.testimonials h1 img{
    border-radius: 2rem;
    border: 3px solid #fff;
    margin: 0;
}


.testimonials .heading{
    color: var(--primaryColor);
}


.testimonials .testimonialCard{
    background-color: #fff;
    border-radius: 10px;
    padding: 5rem 2rem;
    width: 95% !important;
}

.testimonials .testimonialCard h5{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--headingColor);
    margin-bottom: 2rem;
}

.testimonials .testimonialCard p{
    font-size: .9rem;
}

.testimonials .testimonialCard .testimonialBottom{
    display: flex;
    gap: 1rem;
    font-size: .8rem;
    margin-top: 2rem;
}

.testimonials .testimonialCard .testimonialBottom img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


/* FEATURED BLOGS */

.blogs{
    margin-block: 5rem;
}

.blogs .featuredBlog{
    display: flex;
    align-items: center;
    justify-content: center;

}

.blogs .featuredBlog h5{
    background-color: #090228;
    padding: .9rem 2rem;
    color: #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1rem;

}

.blogs .blogCard{
    margin-top: 2rem;
    width: 90%;
    box-shadow: 0 .4rem 1rem rgba(169, 169, 169, 0.123);
    padding: .8rem;
    border-radius: 1rem;
}

.blogs .blogCard .blogCardImg{
    position: relative;
    margin-bottom: 2rem;
}

.blogs .blogCard .blogCardImg img{
    border-radius: 1rem;
}

.blogs .blogCard .blogCardImg .blogCardBadge{
    position: absolute;
    background-color: #fff;
    padding: .5rem 1rem;
    top: .5rem;
    left: .5rem;
    font-size: .7rem;
    border-radius: 2rem;
    font-weight: 600;
}

.blogs .blogCard .blogCardContent{
    font-size: .9rem;
}

.blogs .blogCard .blogCardContent h5{
    font-size: 1.3rem;
    color: var(--headingColor);
    width: 90%;
    line-height: 1.8rem;
    font-weight: 700;
}

.blogs .blogCard .blogCardContent .contentBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.blogs .blogCard .blogCardContent .contentBottom .cardIcon{ 
    font-size: 1rem;
    font-weight: 200;
    border: 1px solid var(--headingColor);
    padding: .2rem .5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: translateY(-.5rem);
    
}

.blogs .blogCard .blogCardContent .contentBottom .cardIcon:hover{ 
    color: #fff;
    border: 1px solid #090228;
    background-color: #090228;


}

.blogs .blogCard .blogCardContent .contentBottom .cardIcon .icon{ 
    position: block;
    transform: translateY(-.1rem);
}