

.galleryMain{
    margin-top: 4rem;
    text-align: center;
}

.galleryMain img{
    width: 100%;
    height: 500px;
}


.gallerySecondary{
    margin-top: 5rem;
}

.gallerySecondary img{
    margin-top: 5rem;
}