.LoginNavbar{
    background-color: var(--primaryColor);
    height: 3.6rem;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
    color: #fff;
    font-weight: 400;
    padding: 1rem;
}


.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    transition: all .3s ease-in-out;
}

.loginForm h5{
    font-size: 1.4rem;
    font-weight: 500;
}

.loginField {
    margin-top: 2rem;
    width: 40%;
    color: var(--primaryColor);
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    border: 1px solid var(--primaryColor);
    padding: -0.5rem;
    padding-inline: 2rem;
    border-radius: 3rem;
}
.loginField input {
    width: 100%;
    /* padding: 1rem; */
    border: none;
    outline: none;
    transform: translateY(-8px);
    background: transparent;
}

.forgotLink{
    transform: translateX(7rem);
    font-size: .9rem;
    margin-top: 1rem;
    color: var(--primaryColor);
    font-weight: 600;
}

.loginBtn{
    margin-top: 3em;
    
}
.loginBtn .signInBtn{
    background-color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    transition: all 0.3s ease;
    padding: 1rem 5rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 4rem;
    text-decoration: none;
}

.loginForm h6{
    margin-top: 5rem;
}

.link{
    text-decoration: none;
    color: var(--primaryColor);
}



@media (max-width: 768px){
    .loginField {
        
        width: 80% !important;
        
    }
}