.blogDetailMainTitle{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1rem;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center
}


.blogDetail{
    font-size: .9rem;
}