:root{
    --primaryColor: #7eb168;
    --headingColor: #4a4a4a;
}



/* Responsiveness */


@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    .loginField{
        width: 50% !important;
    }
    .navLink.active::after {
        display: none;
    }
}

@media only screen and (max-width: 990px){
    
    .hero p {
        font-size: 1.2rem;
        width: 100% !important;
        color: #3d3d3d;
    }
}

@media only screen and (max-width: 665px){
    /*Tablets [601px -> 1200px]*/
    .loginField{
        width: 80% !important;
    }

    .hero p {
        font-size: 1.2rem;
        width: 100% !important;
        color: #3d3d3d;
    }
}

@media only screen and (max-width: 769px){
    .footer h3 {
        
        font-size: 1rem;
    }
}

@media only screen and (max-width: 465px){
    /*Tablets [601px -> 1200px]*/
    .loginField{
        width: 90% !important;
    }

    .forgotLink {
        transform: translateX(5rem) !important;
        
    }
    .blogDetailMainTitle {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -39%) !important;
        text-align: center;
        font-size: 1rem;
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .gallerySecondary .dormSearch {
        position: absolute;
        background-color: rgb(255, 255, 255);
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        padding-left: 1rem;
        box-shadow: 0px 1px 5px rgb(200, 200, 200) inset;
        border-radius: 50px;
        width: 100% !important; 
    }

}

@media only screen and (max-width: 375px){
    /*Tablets [601px -> 1200px]*/
    .loginField{
        width: 90% !important;
    }

    .forgotLink {
        transform: translateX(5rem) !important;
        
    }
    .blogDetailMainTitle {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -39%) !important;
        text-align: center;
        font-size: 1rem;
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}