
.colorDanger{
    color: #f35162 !important;
}

.logoutButton{
    
    background-color: #fff;
    padding: .6rem;
    float: right;
    border-radius: 50%;
    font-size: .3rem;
    transform: translateY(-2.4rem) rotate(180deg);
    margin-right: 4rem;
    cursor: pointer;

}

.logoutButton img{
    height: 20px;
    width: 20px;
}


.dashboard{
    margin-top: 2rem;
    
}

.dashboard h1{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: .4rem;
    color: var(--headingColor);
}

.dashboard h5{
    font-size: .8rem;
    
}

.dashboard .dashboardButtons{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.dashboard .dashboardButtons button{
    border: 1px solid transparent;
    padding: 1rem 4rem;
    font-size: .8rem;
    background-color: #090228;
    color: #fff;
}

/* dashboardStats */


.dashboardStats{
    margin-top: 1rem;
}


.dashboardStats h5{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 2rem ;
}

.dashboardStats .statsCard{
    margin-block: 1rem;
}

.dashboardStats .statsCard h1{
    margin-block: 1rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--headingColor);
}



/* dashboardCards */

.dashboardCards{
    margin-top: 5rem;
}


.dashboardCard{
    border: 1px solid var(--headingColor);
    font-size: 1rem;
    padding: 2rem;
    border-radius: 8px;
    margin-top: 2rem;
}

.dashboardCard h5{
    font-weight: 700;
}

.dashboardCard small{
    font-size: .8rem;
    color: #6c6c6c;
}

.dashboardCard p{
    font-size: .9rem;
    color: #202020;
    font-weight: 600;
}

.dashboardCard .accrpt{
    font-size: .9rem;
    color: #202020;
    font-weight: 700;
    cursor: pointer;
}